In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [23]:
population_berlin = pd.read_csv("population.csv")
population_berlin.head()

,bezirkId,bezirk,ortsteilId,ortsteil,geschl,staatsangeh,altersgr,haufigkeit
0,1,Mitte,101,Mitte,1,A,00_05,534
1,1,Mitte,101,Mitte,1,A,05_10,409
2,1,Mitte,101,Mitte,1,A,10_15,287
3,1,Mitte,101,Mitte,1,A,15_20,377
4,1,Mitte,101,Mitte,1,A,20_25,1181

In [32]:
election_berlin = pd.read_csv("elections.csv")
election_berlin.head()

,bezirkId,bezirk,a_wahlkreis,b_wahlkreis,ost_west,wahlberechtigte,waehler,gueltig,ungueltig,CDU,...,Bundnis 21_RRP,DKP,Die Violetten,Ditsche,Di Leo,Sylla,Fricke,Otto,Beckmann,Snelinski
0,1,Mitte,1,75,O,1264,634,622,12,167,...,0,0,0,0,0,3,0,0,0,0
1,1,Mitte,1,75,O,1146,520,519,1,158,...,0,0,0,0,0,1,0,0,0,0
2,1,Mitte,1,75,O,979,476,470,6,112,...,0,1,0,0,0,2,0,0,0,0
3,1,Mitte,1,75,O,1333,649,643,6,231,...,0,2,0,0,0,2,0,0,0,0
4,1,Mitte,1,75,W,1091,461,452,9,110,...,0,2,0,0,0,4,0,0,0,0

In [33]:
election_berlin.shape

(2277, 35)

In [34]:
election_dataframe = pd.DataFrame(election_berlin)
election_dataframe.head()

,bezirkId,bezirk,a_wahlkreis,b_wahlkreis,ost_west,wahlberechtigte,waehler,gueltig,ungueltig,CDU,...,Bundnis 21_RRP,DKP,Die Violetten,Ditsche,Di Leo,Sylla,Fricke,Otto,Beckmann,Snelinski
0,1,Mitte,1,75,O,1264,634,622,12,167,...,0,0,0,0,0,3,0,0,0,0
1,1,Mitte,1,75,O,1146,520,519,1,158,...,0,0,0,0,0,1,0,0,0,0
2,1,Mitte,1,75,O,979,476,470,6,112,...,0,1,0,0,0,2,0,0,0,0
3,1,Mitte,1,75,O,1333,649,643,6,231,...,0,2,0,0,0,2,0,0,0,0
4,1,Mitte,1,75,W,1091,461,452,9,110,...,0,2,0,0,0,4,0,0,0,0

In [35]:
election_dataframe.describe()

,bezirkId,a_wahlkreis,b_wahlkreis,wahlberechtigte,waehler,gueltig,ungueltig,CDU,DIE LINKE,SPD,...,Bundnis 21_RRP,DKP,Die Violetten,Ditsche,Di Leo,Sylla,Fricke,Otto,Beckmann,Snelinski
count,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,...,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000,2277.000000
mean,6.184892,3.823452,80.071146,1100.447079,797.283707,784.259991,13.023715,235.543259,146.310057,199.884936,...,0.036891,0.114625,0.200703,0.304787,0.296004,0.152394,0.089592,0.219148,0.213439,0.535354
std,3.451341,2.011066,3.405547,720.546299,236.038669,233.839012,6.009538,118.990058,138.459366,64.540780,...,0.248812,0.597697,0.861008,1.225906,1.216916,0.745260,0.454292,1.125602,0.957412,2.452573
min,1.000000,1.000000,75.000000,0.000000,163.000000,160.000000,0.000000,30.000000,5.000000,38.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,77.000000,289.000000,612.000000,600.000000,9.000000,145.000000,46.000000,152.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,4.000000,80.000000,1243.000000,792.000000,779.000000,12.000000,214.000000,78.000000,194.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,5.000000,83.000000,1687.000000,961.000000,946.000000,17.000000,308.000000,226.000000,242.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,12.000000,9.000000,86.000000,2439.000000,1837.000000,1828.000000,49.000000,978.000000,690.000000,495.000000,...,3.000000,8.000000,10.000000,13.000000,10.000000,10.000000,6.000000,26.000000,14.000000,29.000000

In [28]:
population_berlin.describe()

          bezirkId   ortsteilId       geschl   haufigkeit
count  7194.000000  7194.000000  7194.000000  7194.000000
mean      6.959133   701.226856     1.502363   521.010286
std       3.412059   341.773040     0.500029   777.988799
min       1.000000   101.000000     1.000000     3.000000
25%       4.000000   404.000000     1.000000    50.000000
50%       7.000000   704.000000     2.000000   227.000000
75%      10.000000  1002.000000     2.000000   663.000000
max      12.000000  1211.000000     2.000000  7480.000000

In [30]:
male = population_berlin[population_berlin["geschl"]==1]
male.head()
male.shape
female = population_berlin[population_berlin["geschl"]==2]
sum_male = sum(population_berlin["geschl"]== 1)
sum_female = sum(population_berlin["geschl"]== 2)
sum_total = sum_male + sum_female
female_per = sum_female/sum_total*100
male_per = sum_male/sum_total*100

print(female_per, "% are female and ", male_per, "% are male in Berlin")

50.236308034473176 % are female and  49.76369196552683 % are male in Berlin